body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
    background-color: #ffffff;
}

.container{
    margin: auto;
    width: 84%;
    overflow: hidden;
}

/*Header*/
.header{
    background-color: white;
    color: rgb(117, 117, 117);
    min-height: 70px;
    border-bottom: rgb(45, 196, 45) 2px solid;
    box-shadow: 30px 30px 30px 30px rgba(199, 199, 199, 0.247);
    
}

.header a{
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-size: 17px;
}
.header li{
    float: left;
    display: inline;

}


.header .title-header{
    float: left;
    color: rgb(136, 136, 136);
    margin-right: 100px;
}


.container .nav{
    float: right;
    width: 100%;
}

.nav ul{
    display: inline;
}
.nav li{
    margin-left: 100px;
}

.nav .nav-noticias{
    margin-top: 24px;
}
.nav .nav-noticias:hover{
    border-bottom: rgb(45, 196, 45) 2px solid;
}
.nav .nav-jogos{
    margin-top: 10px;
    margin-top: 24px;
}
.nav .nav-favoritos{
    margin-top: 10px;
    margin-top: 24px;
    
}
.nav .nav-jogos:hover{
    border-bottom: rgb(45, 196, 45) 2px solid;
}
.nav .nav-favoritos:hover{
    border-bottom: rgb(45, 196, 45) 2px solid;
}

.header   .current a{
    color:  rgb(45, 196, 45);
    font-weight: bold;
    margin-top: 20px;

}
.header .current {
    color:  rgb(45, 196, 45);
    font-weight: bold;
    margin-top: 24px;
}
.header .icon-ball{
    float: left;
    height: 45px;
    width: 45px;
    margin-top: 20px;
}
.container .nav-dropdown{
    overflow: hidden;
    float: right;
    margin-top: 18px;
}
.nav-dropdown .dropbtn{
    width: 156px;
    border: none;
    outline: none;
    background-color: white;
}
.nav-dropdown .dropbtn .fas{
    font-size: 37px;
    float: left;
    color: rgb(45, 196, 45);
}
.nav-dropdown .dropbtn .ola{
    float: right;
    margin-top: 8px;
    color: rgb(136, 136, 136);
    font-size: 17px;
    
}

.nav-dropdown:hover .dropbtn {
    border-radius: 4px  4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px 5px rgba(182, 182, 182, 0.151);
    margin-left: 45px;
    z-index: 1;
    border-radius: 4px  4px;
  }
  .dropdown-content a {
    float: none;
    color:  rgb(136, 136, 136);
    padding: 12px 16px;
    padding-right: 50px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  .dropdown-content  .sign-out{
    border-top: 1px solid rgb(45, 196, 45);
    
  }
  .dropdown-content a:hover {
    background-color:  rgba(45, 196, 45, 0.226);
  }
  .nav-dropdown:hover .dropdown-content {
    display: block;
  }
  .nav-dropdown:hover .ola {
    border-bottom: rgb(45, 196, 45) 2px solid;
  }

/* end Header*/



/* FOOTER*/
.footer{
    padding-bottom: 20px;
    padding-top: 60px;
    padding-bottom: 70px;
    border-top: rgb(45, 196, 45) 2px solid ;
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: rgb(110, 110, 110);
    box-shadow: 0px 0 80px  rgba(0, 0, 0, 0.247);
    margin-top: 100px;
}
.footer-copyright{
    border-top: rgb(45, 196, 45) 1px solid;
    background-color: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
    width: 100%;
    height: 50px;
    text-align: center;
}
.footer-left{
    float: left;
    width: 40%;
    
}
.footer-right{
    float: right;
    margin-right: 150px;
    
  }
.footer-right ul{
  list-style-type: none;
  display: flex;
}
.li-icon-social-media  {
    
}
.fab{
    font-size: 50px;
    color: rgba(45, 196, 45, 0.774);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    border-radius: 6px;
}
.fab:hover{
    font-size: 45px;
    border: 1px solid rgba(45, 196, 45, 0.774);
    color: white;
    background-color: rgba(45, 196, 45, 0.774);
    border-radius: 6px;
    transition: 0.4s;
}


.link-social-media:not(:first-child) {
    margin-left: 50px;
}
.teste{
    height: 1000px;
    
}
.new{
    width: 410px;
    margin-top: 93px;
    margin-right: 90px;
    float: right;
}
.footer li{
    padding-bottom: 5px ;
}
.footer h2{
    margin-left: 20px ;
    color: rgb(125, 139, 125);
}
.footer-left ul {
    list-style-image: url('../icon/next.png');
  }
  
.btn-green{
    height: 42px;
    border: none;
    border-radius: 4px 4px ;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(255, 255, 255);
    border: 2px rgb(45, 196, 45) solid;
    color: rgb(45, 196, 45);
    cursor: pointer;
}
.btn-green:hover{
    background: rgb(45, 196, 45);
    border: 2px rgb(45, 196, 45) solid;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}
input{
    height: 34px;
    width: 62%;
    padding-left: 10px;
    border-radius: 4px 4px;
    border: 2px rgb(116, 136, 116) solid;
    
}
input:hover{
    border: 2px rgb(45, 196, 45) solid;
    
}
/*END FOOTER*/
